/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .vertical-align-container {
    display: table; 
    height: 100px; 
    overflow: hidden;
    margin: 0 auto;
 }
 .vertical-align-inner {
    display: table-cell; 
    vertical-align: middle;
 }


 /** PANEL LAYOUT **/
.review-panel {
  border: 1px solid #eee;
  margin-bottom: 30px;
}
.review-panel .score {
  background-color: #2c9ace;
  color: white;
  padding: 10px 20px;
  font-size: 32px;
}
.review-panel .text {
  padding: 10px 0;
}
.review-panel .name, 
.review-panel .recommendation
{
  display: block;
  padding: 15px;
  background-color: #f1f1f1;
}
.review-panel .date {
  position: absolute;
  right: 15px;
  background-color: #d9d9d9;
  padding: 5px;
}
.review-panel .name strong {
  display: block;
}
.review-panel .kk-reviews .kk-rating {
  display: inline;
}
.review-panel .kk-reviews .kk-rating .kk-rating-stars {
  text-align: left;
}
.review-panel .text {
  text-align: left;
}

 /** CARD LAYOUT **/
 .card.review {
   margin-bottom: 20px;
 }
 .card.review-title span {
   font-size: 13px;
 }
.card.review .img {
  position: relative;
}
 .card.review .img .kk-reviews {
  position: absolute;
  width: 100%;
  bottom: 10px;   
}
.card.review .kk-reviews .kk-rating .kk-rating-stars {
  text-align: center;
}

@media (max-width: 575px){
  .review-panel .text {
    padding: 10px;
  }  
  .review-panel .date {
    background: transparent;
  }
}

.pagination {
    clear:both;
    position:relative;
    font-size:11px; /* Pagination text size */
    line-height:13px;
    float:right; /* Pagination float direction */
}
.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    width:auto;
    border:0.5px solid #2c9ace;
    color:#2c9ace; /* Pagination text color */
    background: white; /* Pagination non-active background color */
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.pagination a:hover{
    color:#fff;
    background: #2c9ace; /* Pagination background on hover */
}
.pagination .current{
    padding:6px 9px 5px 9px;
    background: #2c9ace; /* Current page background */
    color:#fff;
}
